//variabler
$bg-color: #161616;
$font-color: #fbfbfb;
$grey-bg-color: #727479;
$purple-bg-color: #59189E;
$dark-green-bg-color: #006F70;
$btn-color: #43F9DA;
$green: #2A7E79;

// styling til overskift //
@mixin heading($justify: center, $align: center) {
    display: block;
    justify-content: $justify;
    align-items: $align;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    padding: 1em;
}

@mixin arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        
        img{
            width: 2em;
            height: auto;
            margin: 0 auto;
            
        }   
}
@mixin fixed{
    position: fixed;
    z-index: 1;
    bottom: 5px;
}