@use 'partials';

.pakker{
    background-image: url(../img/mac-services-page.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 3em;
    
    h1{
        @include partials.heading;
        font-size: 2em;
    }
    .desktop-pakker{
    img{
        display: block;
        margin: 0 auto;
        width: 70vw;
        height: auto;
        }   
    }
    .mobil-pakker{
        img{
            display: none;
        }
    }
    .om-text {
        display: block;
        text-align: left;
        margin-right: auto;
        margin-left: auto;
        padding-top: 2em;
        padding-left: 20vw;
        padding-right: 20vw;
        padding-bottom: 1em;
    }  
  .scrollarrow{
    @include partials.arrow;
  }       
}
//fixed elementer start///////////// 
.fixed-chat{
    @include partials.fixed;
    left: 5px;
    
    img{
        width: 100px;
        height: auto; 
    }
} 
.fixed-cta{
    @include partials.fixed;
    right: 5px;
     
    a p {
        background-color: partials.$btn-color;
        color: partials.$bg-color;
        border-radius: 20px;
        padding: 1em;
    }
    a{
        text-decoration: none;
    }    
        
}
//fixed elementer slut///////////// 
// section start //
.tidslinje{
    background-color: partials.$grey-bg-color;
    h2{
        @include partials.heading;
        font-size: 2em; 
    }
    .om-text {
        display: block;
        text-align: left;
        margin-right: auto;
        margin-left: auto;
        padding-top: 1em;
        padding-left: 20vw;
        padding-right: 20vw;
        padding-bottom: 2em;
    } 
    .desktop-6-steps{
        img{
            display: block;
            margin: 0 auto;
            width: 85vw;
            height: auto;
            }
    } 
    .mobil-6-steps{
        img{
        display: none;
        }
    }
}
// section slut /////


//// mobil version ////
@media screen and (min-width: 160px) and (max-width: 800px){

    body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .pakker{
        background-image: url(../img/mac-mobile-services-page.png);
    
        .desktop-pakker{
            img{
            display: none;
            }
        }
        .mobil-pakker {
            img{
            display: block;
            width: 70vw;
            height: auto;
            margin-left: 15vw;
            }
        }
    }
    .fixed-chat{
        display: none;
    } 
    .fixed-cta{
        bottom: 55px;
        right: 30px;
        z-index: 1;
    }
    .tidslinje{
        background-color: partials.$green;
        text-align: left;
        font-size: 0.9em;
    
    .desktop-6-steps{
        img{ 
        display: none;
        }
    }
    .mobil-6-steps{
            img{ 
                display: block;
                width: 100vw;
                height: auto;
            }
        }
    }
}