
@use 'partials';

.pakker {
    background-image: url("../biggit/img/mac-services-page.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3em;

        h1 {
            @include partials.heading;
        }
        
        img.infografik-pakker{
            width: 14em;
            height: auto;
            margin: auto;
            display: block;
        }
}
