@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Orbitron:wght@400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #161616;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  color: #fbfbfb;
}

p {
  font-family: "Krona One", sans-serif;
  color: #fbfbfb;
}

/*-------------------Header-------------------*/
header {
  background-color: #161616;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}
header img {
  width: 50px;
  margin-right: auto;
  border-radius: 50%;
  margin: 10px;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  padding: 0 20px;
}
header nav ul li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-family: Orbitron, sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  color: #FBFBFB;
}
header nav ul li a:hover {
  text-decoration: underline;
}

.mobilnav {
  display: none;
}

@media only screen and (max-width: 800px) {
  .desctopnav {
    display: none;
  }
  .mobilnav {
    display: block;
    width: 50%;
    margin-left: auto;
  }
  .mobilnav img {
    float: left;
    border-radius: 0;
  }
  .mobilnav .burgermenu {
    width: 24%;
  }
  .mobilnav .chatmobil {
    width: 38%;
  }
}
/*-------------------Main-------------------*/
main {
  padding-top: 7%;
}
main .introside {
  background-image: url("../img/frontpage-top-background-with-white-textbox2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main .introside h1 {
  color: #161616;
}
main .introside p {
  color: #161616;
}
main .introside div {
  padding: 10% 50% 10% 10%;
}
main .introside div h1 {
  font-size: x-large;
  margin-bottom: 1em;
}
main .introside div p {
  margin-bottom: 3em;
}
main .introside div div {
  border: none;
  padding: 20px 0;
  margin-right: 60%;
  border-radius: 20px;
  background-color: #43F9DA;
  text-align: center;
}
main .introside div div a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
main .introside div div h2 {
  color: #161616;
}
main .introside div div a:hover {
  -webkit-text-decoration: underline #161616;
          text-decoration: underline #161616;
}
main .div2 {
  background-color: #161616;
  padding: 7% 0 2% 0;
  text-align: center;
}
main .div2 div {
  border: none;
  float: right;
  padding: 20px 75px;
  border-radius: 20px;
  background-color: #43F9DA;
}
main .div2 div a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
main .div2 div h2 {
  color: #161616;
}
main .div2 div a:hover {
  -webkit-text-decoration: underline #161616;
          text-decoration: underline #161616;
}
main .div2 .pilned {
  background-color: transparent;
  width: 30px;
  height: auto;
  margin: 75px auto 0 12%;
  padding: 0;
}
main .div3 {
  background-color: #2A7E79;
  padding: 3% 0 1% 0;
}
main .div3 .pilned {
  display: flex;
  width: 30px;
  margin: 2% auto 0 45%;
}
main .div3 .border1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2A7E79;
  border: solid #fbfbfb;
  margin: 2%;
  border-radius: 30px;
}
main .div3 .border1 .textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}
main .div3 .border1 .textbox p {
  color: #fbfbfb;
  margin: 1em 1em 1em 2.6em;
}
main .div3 .border1 .textbox h2 {
  color: #fbfbfb;
}
main .div3 .border1 img {
  height: 40%;
  width: 40%;
  margin: 10%;
}
main .div4 {
  background-image: url("../img/frontpage-videosection-with-biggit.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2%;
}
main .div4 h2 {
  text-align: center;
  padding-top: 5%;
}
main .div4 .pilned {
  display: flex;
  width: 30px;
  margin: 43% auto 0 45%;
}
main .div5 {
  background-image: url("../img/frontpage-textsection-with-biggit.png");
  background-size: cover;
  padding-bottom: 2%;
}
main .div5 .pilned {
  display: flex;
  width: 30px;
  margin: 5% auto 0 45%;
}
main .div5 .textbox1 {
  padding: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 50%;
}
main .div5 .textbox1 a {
  margin-top: 1em;
  -webkit-text-decoration: underline #fbfbfb;
          text-decoration: underline #fbfbfb;
}
main .div5 .textbox1 p {
  color: #fbfbfb;
  margin-bottom: 1em;
}
main .div5 .textbox1 h2 {
  margin-bottom: 1em;
}
main .div5 .textbox2 {
  padding: 5%;
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-left: 50%;
}
main .div5 .textbox2 a {
  margin-top: 1em;
  -webkit-text-decoration: underline #fbfbfb;
          text-decoration: underline #fbfbfb;
}
main .div5 .textbox2 p {
  margin-bottom: 1em;
}
main .div5 .textbox2 h2 {
  margin-bottom: 1em;
}
main .div6 {
  background-color: #727479;
  padding: 3% 0 1% 0;
}
main .div6 .pilned {
  display: flex;
  width: 30px;
  margin: 2% auto 0 45%;
}
main .div6 .border2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #727479;
  border: solid #fbfbfb;
  margin: 2%;
  border-radius: 30px;
}
main .div6 .border2 .textbox1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}
main .div6 .border2 .textbox1 p {
  color: #fbfbfb;
  margin: 1em 1em 1em 2em;
}
main .div6 .border2 .textbox1 h2 {
  color: #fbfbfb;
}
main .div6 .border2 img {
  height: 50%;
  width: 50%;
}
main .div7 {
  background-image: url("../img/review-background-with-biggit.png");
  background-size: cover;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-row: auto auto auto auto;
  padding: 5% 0;
}
main .div7 img {
  height: 90%;
  width: 90%;
}
main .div7 h2 {
  grid-area: 1/2/2/4;
  margin: 0 auto;
}
main .div7 p {
  grid-area: 1/2/2/4;
  margin: 4em auto;
}
main .div7 p:nth-of-type(2) {
  margin-top: 8em;
}
main .div7 img:nth-of-type(1) {
  grid-area: 2/2/3/3;
}
main .div7 img:nth-of-type(2) {
  grid-area: 2/3/3/4;
}
main .div7 img:nth-of-type(3) {
  grid-area: 3/2/4/3;
}
main .div7 img:nth-of-type(4) {
  grid-area: 3/3/4/4;
}
main .div7 img:nth-of-type(5) {
  grid-area: 4/2/5/2;
}
main .div7 img:nth-of-type(6) {
  grid-area: 4/3/5/4;
}

#kontaktbtn {
  border: none;
  padding: 20px 75px;
  background-color: #43F9DA;
  border-radius: 20px;
  margin-top: 2em;
}
#kontaktbtn a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  background-color: #43F9DA;
  color: #161616;
}
#kontaktbtn h2 {
  color: #161616;
}
#kontaktbtn a:hover {
  -webkit-text-decoration: underline #161616;
          text-decoration: underline #161616;
}

.fixed-chat {
  position: fixed;
  z-index: 1;
  bottom: 5px;
  left: 5px;
}
.fixed-chat img {
  width: 100px;
  height: auto;
}

.gruppebillede, .textbillede1, .textbillede2, .biggit {
  display: none;
}

/*------------------------------------mobil-----------------------------------------------------*/
@media only screen and (max-width: 800px) {
  main {
    padding-top: 20% !important;
  }
  main .introside {
    background-image: url("../img/frontpage-mobile-top-background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  main .introside h1 {
    color: #161616;
    padding: 1em;
  }
  main .introside p {
    color: #161616;
    margin: 1em;
  }
  main .introside div {
    padding: 0 0 10% 0;
    margin: 0;
  }
  main .introside div .gruppebillede {
    display: block;
    width: 100%;
    height: auto;
  }
  main .introside div h1 {
    font-size: x-large;
    margin-bottom: 1em;
    color: #fbfbfb;
  }
  main .introside div p {
    margin-bottom: 3em;
    color: #fbfbfb;
  }
  main .introside div div {
    border: none;
    padding: 20px 75px;
    border-radius: 20px;
    background-color: #43F9DA;
    margin: 10% 10% 0 10%;
  }
  main .introside div div a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  main .introside div div h2 {
    color: #161616;
  }
  main .introside div div a:hover {
    -webkit-text-decoration: underline #161616;
            text-decoration: underline #161616;
  }
  main .div2 {
    display: none;
  }
  main .div3 {
    background-color: #2A7E79;
    padding: 3% 0;
  }
  main .div3 .border1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A7E79;
    border: none;
  }
  main .div3 .border1 .textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
  }
  main .div3 .border1 .textbox p {
    color: #fbfbfb;
    margin: 1em 1em 1em 2.6em;
  }
  main .div3 .border1 .textbox .textbillede1 {
    display: block;
    width: 80%;
    height: auto;
  }
  main .div3 .border1 .textbox h2 {
    color: #fbfbfb;
  }
  main .div3 .border1 img {
    display: none;
  }
  main .div4 {
    background-image: url("../img/frontpage-mobile-videosection.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
  }
  main .div4 .pilned {
    display: block;
    padding-top: 62%;
  }
  main .div4 h2 {
    text-align: center;
    padding-top: 5%;
  }
  main .div5 {
    background-image: none;
    background-color: #421B76;
    background-size: cover;
    padding-bottom: 10%;
  }
  main .div5 .biggit {
    display: block;
    padding-left: 20%;
  }
  main .div5 .textbox1 {
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 0;
  }
  main .div5 .textbox1 a {
    margin-top: 1em;
    -webkit-text-decoration: underline #fbfbfb;
            text-decoration: underline #fbfbfb;
  }
  main .div5 .textbox1 p {
    color: #fbfbfb;
    margin-bottom: 1em;
  }
  main .div5 .textbox1 h2 {
    margin-bottom: 1em;
  }
  main .div5 .textbox2 {
    padding: 5%;
    background: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: none;
    margin-left: 0;
  }
  main .div5 .textbox2 a {
    margin-top: 1em;
    -webkit-text-decoration: underline #fbfbfb;
            text-decoration: underline #fbfbfb;
  }
  main .div5 .textbox2 p {
    margin-bottom: 1em;
  }
  main .div5 .textbox2 h2 {
    margin-bottom: 1em;
  }
  main .div6 {
    background-color: #727479;
    padding: 3% 0;
  }
  main .div6 .border2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #727479;
    border: none;
  }
  main .div6 .border2 .textbox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
  }
  main .div6 .border2 .textbox1 p {
    color: #fbfbfb;
    margin: 1em 1em 1em 2em;
  }
  main .div6 .border2 .textbox1 .textbillede2 {
    display: block;
    width: 80%;
    height: auto;
  }
  main .div6 .border2 .textbox1 h2 {
    color: #fbfbfb;
  }
  main .div6 .border2 img {
    display: none;
  }
  main .div7 {
    background-image: url("../img/review-background-with-biggit.png");
    background-size: cover;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-row: auto auto auto auto auto auto auto auto;
    padding: 5% 0;
  }
  main .div7 img {
    height: auto;
    width: 90%;
  }
  main .div7 h2 {
    grid-area: 1/2/2/4;
    margin: 0 auto;
  }
  main .div7 p {
    grid-area: 1/2/2/4;
    margin: 5em auto;
  }
  main .div7 p:nth-of-type(2) {
    margin-top: 12em;
  }
  main .div7 img {
    margin-bottom: 5%;
  }
  main .div7 img:nth-of-type(1) {
    grid-area: 2/2/3/4;
  }
  main .div7 img:nth-of-type(2) {
    grid-area: 3/2/4/4;
  }
  main .div7 img:nth-of-type(3) {
    grid-area: 4/2/5/4;
  }
  main .div7 img:nth-of-type(4) {
    grid-area: 5/2/6/4;
  }
  main .div7 img:nth-of-type(5) {
    grid-area: 6/2/7/4;
  }
  main .div7 img:nth-of-type(6) {
    grid-area: 7/2/8/4;
  }
  #kontaktbtn {
    border: none;
    padding: 20px 75px;
    background-color: #43F9DA;
    border-radius: 20px;
    margin-top: 2em;
  }
  #kontaktbtn a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: #43F9DA;
    color: #161616;
  }
  #kontaktbtn h2 {
    color: #161616;
  }
  #kontaktbtn a:hover {
    -webkit-text-decoration: underline #161616;
            text-decoration: underline #161616;
  }
  .fixed-chat {
    display: none;
  }
  .fixed-cta {
    display: none;
  }
}
.team {
  background-image: url(../img/mac-about-page-with-biggit.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 7%;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
}
.team h1 {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  padding: 1em;
  padding-bottom: 4em;
}
.team p {
  text-align: left;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}
.team img {
  float: left;
  max-width: 15vw;
  height: auto;
  border-radius: 12px;
  margin-right: 1.5em;
  margin-bottom: 2em;
}
.team .om-text {
  display: block;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2em;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 1em;
}
.team .scrollarrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.team .scrollarrow img {
  width: 2em;
  height: auto;
  margin: 0 auto;
}

.fixed-chat {
  position: fixed;
  z-index: 1;
  bottom: 5px;
  left: 5px;
}
.fixed-chat img {
  width: 100px;
  height: auto;
}

.fixed-cta {
  position: fixed;
  z-index: 1;
  bottom: 5px;
  right: 5px;
}
.fixed-cta a p {
  background-color: #43F9DA;
  color: #161616;
  border-radius: 20px;
  padding: 1em;
}
.fixed-cta a {
  text-decoration: none;
}

.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.four-steps {
  display: block;
  background-color: #727479;
  padding-bottom: 10vh;
}
.four-steps h2 {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  padding: 1em;
}
.four-steps img:nth-of-type(1) {
  display: block;
  margin: auto;
  width: 60vw;
  height: auto;
}
.four-steps img:nth-of-type(2) {
  display: block;
  align-self: center;
  margin: 0 auto;
  padding-bottom: 2em;
  width: 20vw;
  height: auto;
}
.four-steps a {
  text-align: center;
  margin: auto;
  -webkit-text-decoration: underline #fbfbfb;
          text-decoration: underline #fbfbfb;
}
.four-steps .scrollarrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.four-steps .scrollarrow img {
  width: 2em;
  height: auto;
  margin: 0 auto;
}

.video-blog {
  display: block;
  background-image: url(../img/redgreen-smoke-about-page.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.video-blog-txt h3 {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  padding: 1em;
}
.video-blog-txt .om-text2 {
  display: block;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2em;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 5em;
}

.video-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 5em;
  margin-right: 2em;
  padding-bottom: 10em;
}
.video-links img {
  max-width: 30vw;
  height: auto;
  margin: auto;
}
.video-links a {
  -webkit-text-decoration: underline #fbfbfb;
          text-decoration: underline #fbfbfb;
}
.video-links a p {
  margin-left: 1em;
  margin-bottom: 2em;
  padding-right: 5em;
}

@media screen and (min-width: 160px) and (max-width: 800px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .fixed-chat {
    display: none;
  }
  .fixed-cta {
    bottom: 55px;
    right: 30px;
  }
  .team {
    background-image: url(../img/about-mobile-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    padding-top: 20% !important;
  }
  .team h1 {
    display: block;
    justify-content: space-around;
    align-content: space-around;
    font-size: 1.5em;
    font-weight: 900;
    text-align: left;
    padding: 1.5em;
    font-size: 2em;
  }
  .team .om-text {
    display: block;
    text-align: left;
    padding-top: 2em;
    padding-left: 0.5em;
    padding-right: 0;
    padding-bottom: 1em;
  }
  .about-us {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: minmax(0, 375px);
    justify-content: center;
    align-items: center;
    row-gap: 0;
    min-width: 0;
  }
  .about-us img {
    max-width: 60vw;
    height: auto;
    margin-left: 2.5em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    border-radius: 20%;
    overflow: hidden;
    float: none;
  }
  .about-us p {
    padding-top: 0;
    padding-bottom: 2em;
    padding-left: 2.5em;
  }
  .four-steps {
    display: block;
    padding-bottom: 1vh;
  }
  .four-steps h2 {
    display: block;
    justify-content: space-around;
    align-content: space-around;
    font-size: 1.5em;
    font-weight: 900;
    text-align: left;
    padding: 1.5em;
  }
  .four-steps img:nth-of-type(1) {
    display: block;
    margin: auto;
    width: 80vw;
    height: auto;
  }
  .four-steps img:nth-of-type(2) {
    display: block;
    align-self: center;
    width: 35vw;
    height: auto;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  .four-steps .scrollarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
  .four-steps .scrollarrow img {
    width: 2em;
    height: auto;
    margin: 0 auto;
  }
  .video-blog-txt h3 {
    display: block;
    justify-content: space-around;
    align-content: space-around;
    font-size: 1.5em;
    font-weight: 900;
    text-align: left;
    padding: 1.5em;
  }
  .video-blog-txt .om-text2 {
    padding-top: 0;
    padding-bottom: 2em;
    padding-left: 2.5em;
    padding-right: 0.5em;
  }
  .video-links {
    display: block;
    margin-left: 1.5em;
  }
  .video-links img {
    max-width: 85vw;
    height: auto;
    margin-left: 0.5em;
  }
  .video-links a p {
    margin-left: 1em;
    margin-bottom: 2em;
    padding-right: 0.5em;
  }
}
footer {
  overflow: hidden !important;
  height: auto;
  background-image: url("../img/footer-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
footer div {
  display: grid;
  grid-template-columns: auto 40% 40% auto;
  grid-template-rows: auto 40% 40% auto;
}
footer div img {
  height: 140%;
  border-radius: 20px;
  grid-area: 2/2/3/3;
}
footer div form {
  grid-area: 2/3/3/4;
}
footer div form a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #fbfbfb;
  padding: 20px 75px;
  background-color: #43F9DA;
  border-radius: 20px;
}
footer div a:hover {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

input[type=text], input[type=email], input[type=tel], select, textarea { /*vælger de emner/typer som skal berøres af nedenstående css*/
  width: 60%;
  padding: 1em;
  border: 1px solid #43F9DA;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 1em 0;
}

.send {
  color: #161616;
}

.visually-hidden { /*Bootstrap defineret class som fjerner element fra skærm, men som stadig kan læses af skærmlæseren*/
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/*---------------------------------------------------------------------------------------------De nedeste links i footer------------------------------------------------------------------------------------*/
.footerbund {
  display: grid;
  grid-template-columns: auto 20% 20% 20% 20% auto;
  grid-template-rows: auto;
}
.footerbund div {
  display: inline;
  vertical-align: top;
  margin-bottom: 100px;
}
.footerbund div ul {
  margin-top: 1em;
}
.footerbund div ul a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #fbfbfb;
  padding: 20px 75px;
  border-radius: 20px;
}
.footerbund div ul a:link {
  text-decoration: none;
}
.footerbund div ul a:visited {
  text-decoration: none;
}
.footerbund div ul a:hover {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
.footerbund div ul a:active {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
.footerbund div ul li a {
  text-decoration: none;
}
.footerbund div:nth-of-type(1) {
  grid-area: 1/2/2/3;
}
.footerbund div:nth-of-type(1) ul {
  margin-top: 4em;
}
.footerbund div:nth-of-type(2) {
  grid-area: 1/3/2/4;
}
.footerbund div:nth-of-type(3) {
  grid-area: 1/4/2/5;
}
.footerbund div:nth-of-type(4) {
  grid-area: 1/5/2/6;
}

address {
  font-style: normal;
}

#socialmedia img {
  width: 30px;
  height: auto;
  margin-right: 1em;
}

.social {
  display: block;
}

.social img {
  float: left;
}

.footerh {
  color: #43F9DA;
}

.copyright {
  background-color: #fbfbfb;
  width: 100%;
}
.copyright p {
  color: #161616;
  width: 100vw;
  z-index: 1;
}

.kontaktfootermobil {
  display: none;
}

/*----------------------------------------------------------------mobil------------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
  footer div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    padding: 10% 10%;
  }
  footer div .kontaktfootermobil {
    display: block;
    grid-area: 1/1/2/2;
    padding: 5% 0;
    font-weight: 300;
    font-size: xx-large;
  }
  footer div img {
    grid-area: 2/1/3/2;
    width: 100%;
    height: auto;
    padding: 5% 0;
  }
  footer div form {
    grid-area: 3/1/4/2;
  }
  footer div form .input {
    width: 100%;
  }
  footer div form .kontaktfooter {
    display: none;
  }
  footer div div {
    grid-area: 4/1/5/2;
    padding: 10% 0;
  }
  footer .footerbund {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    padding: 0 15%;
  }
  footer .footerbund div:nth-of-type(1) {
    grid-area: 1/1/2/2;
  }
  footer .footerbund div:nth-of-type(2) {
    grid-area: 4/1/5/2;
  }
  footer .footerbund div:nth-of-type(2) .social {
    padding-right: 100%;
  }
  footer .footerbund div:nth-of-type(3) {
    grid-area: 2/1/3/2;
  }
  footer .footerbund div:nth-of-type(4) {
    grid-area: 3/1/4/2;
  }
}/*# sourceMappingURL=style.css.map */